button {
    background-color: lightgreen;
    height: 4em;
    width: 10em;
    border-radius: 5px;
}

#bugReport {
    display: inline-block;
    width: 20em;
    height: 10em;
    border: 10px solid lightblue;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
}

.left {
    display: flex;
    align-items: center;
}

p#bugTime {
    margin-bottom: 0px;
}

p#bugReport {
    margin-top: 0px;
    font-size: 2em;
}

textarea {
    font-size: 2em;
}

.moreLeft textarea {
    border: 10px solid lightblue;
}

.moreLeft {
    display: flex;
    flex-direction: column;
}